<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Calculator</title>
</head>
<body>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.action.action }}</td>
                <td>{{ transaction.asset.name }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.share_price }}</td>
                <td>{{ transaction.share_quantity }}</td>
                <td>{{ transaction.gain_loss }}</td>
                {% if transaction.action.action == "Sell" %}
                    <td>{{ transaction.tax_due }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>