<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "calculator/css/index.css" %}">
    <link rel="stylesheet" href="{% static "calculator/css/custom.css" %}">
    <title>Tax Calculator</title>
</head>
<body>
    <main class="bg-gray-50 min-h-screen flex justify-center items-center">
        <section class="w-4/5 bg-white shadow-2xl p-4 rounded-xl">
            <h1 class="text-4xl font-bold mb-4">Your Transactions</h1>
            <div class="max-h-80 overflow-auto border border-gray-300 rounded-xl">
                <table class="table-fixed w-full">
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th class="text-md text-left p-2 w-1/8 truncate">{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.date }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.action.action }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.asset.name }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.amount }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.share_price | floatformat:2 }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.share_quantity }}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.total_gain | floatformat:2 | default:"-"}}</td>
                                <td class="text-md text-left p-2 w-1/8 truncate">{{ transaction.tax_due | floatformat:2 | default:"-"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button></button>
        </section>
    </main>
</body>

<script type="text/javascript" src="{% static "calculator/js/app.js" %}"></script>
</html>