<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "calculator/css/index.css" %}">
    <link rel="stylesheet" href="{% static "calculator/css/custom.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.7/awesomplete.css" integrity="sha512-GEMEzu9K8wXXaW527IHfGIOaTQ0hXxZPJXZOwGDIO+nrR9Z0ttJih1ZehiEoWY8xPtqzzD7pxAEnQInTZwn3MQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.7/awesomplete.min.js" integrity="sha512-Pc3/aEr2FIVZhHxe0RAC9SFrd+pxBJHN3pNJfJNTKc2XAFnXUjgQGIh6X935ePSXNMN6rFa3yftxSnZfJE8ZAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Tax Calculator</title>
</head>
<body>
    <main class="bg-gray-50 min-h-screen flex justify-center items-center">
        <section class="w-4/5 bg-white shadow-2xl p-4 rounded-xl">
            <h1 class="text-4xl font-bold mb-4">Your Transactions</h1>
            <div class="max-h-80 overflow-auto border border-gray-300 rounded-xl">
                <table class="table-fixed w-full" 
                       data-stock-url="{% url "calculator:get_stock" %}">
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th class="text-md text-left p-2 w-1/9 truncate">{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if transactions %}
                            {% for transaction in transactions %}
                                <tr>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.date }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.action.action }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.asset.name }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.asset.ticker }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.amount }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.share_price | floatformat:2 }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.share_quantity }}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.total_gain | floatformat:2 | default:"-"}}</td>
                                    <td class="text-md text-left p-2 w-1/9 truncate">{{ transaction.tax_due | floatformat:2 | default:"-"}}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td colspan="8" class="text-lg text-center p-2">
                                No transactions available
                            </td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <button class="mt-2 p-2 text-white rounded-xl cursor-pointer bg-green-600 hover:bg-green-700">Add Transaction</button>
        </section>
    </main>
    <dialog class="p-4 rounded-xl">
        <h2 class="text-2xl font-bold mb-2 text-center">Add Transaction</h2>
        <fieldset class="border border-gray-300 rounded-xl p-4">
            <form action="{% url 'calculator:index' %}" method="post">
                {% csrf_token %}
                {{ new_transaction_form }}
                <button type="submit" class="mt-2 p-2 text-white rounded-xl cursor-pointer bg-green-600 hover:bg-green-700">Submit Transaction</button>
            </form>
        </fieldset>
    </dialog>
</body>

<script type="text/javascript" src="{% static "calculator/js/app.js" %}"></script>
</html>