::-webkit-scrollbar {
    width: 17px;
}


::-webkit-scrollbar-thumb {
  background-color: oklch(87.2% 0.01 258.338);
  border-radius: 12px;
  border: 4px solid transparent;
  background-clip: content-box;
}

tbody tr:nth-child(odd) {
    background-color: oklch(87.2% 0.01 258.338)
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

form label{
  display: block;
  font-weight: bold;
}

form input, form select {
  margin-bottom: 1rem;
  border: 1px solid oklch(87.2% 0.01 258.338);
  border-radius: 0.3rem;
}